<!-- Header -->
<header id="header"{% if page.layout == 'landing2' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">🏠 Home</a></li>
            <li><a href="#details" class="more scrolly">📅 Details</a></li>
            <li><a href="#dresscode" class="more scrolly">🎀 Dress code</a></li>
			<li><a href="#registry" class="more scrolly">🎁 Registry</a></li>
			<li><a href="#howwemet" class="more scrolly">👩‍❤️‍💋‍👨 How we met</a></li>
            <li><a href="#rsvp" class="more scrolly">📩 RSVP</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
